In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import patsy as pt
import datetime


# Training Data
data = pd.read_csv('midterm_sales_and_date_df.csv')

# order_purchase_timestamp as date
format = '%Y-%m-%d'
data['order_purchase_timestamp'] = pd.to_datetime(data['order_purchase_timestamp'], format=format)

# add variables using `order_purchase_timestamp`
data['year'] = data['order_purchase_timestamp'].dt.year
data['month'] = data['order_purchase_timestamp'].dt.month
data['weekday'] = data['order_purchase_timestamp'].dt.weekday
# 0 = Monday, 6 = Sunday
data['isBlackFriday'] = np.where((data['order_purchase_timestamp']=='2017-11-24') | (data['order_purchase_timestamp'] == '2018-11-27'), 1, 0)
data['isWeekend'] = np.where((data['weekday']== 5) | (data['weekday'] == 6), 1, 0)


# TEST SET
# Predict from 2018-09-01 to 2018-11-30
## make dataframe with this date range as column
test = pd.DataFrame(columns=['order_purchase_timestamp', 'sales_volume', 'year', 'month', 'weekday', 'isBlackFriday'])
test['order_purchase_timestamp'] = pd.date_range(start="2018-09-01",end="2018-11-30")
test['year'] = test['order_purchase_timestamp'].dt.year
test['month'] = test['order_purchase_timestamp'].dt.month
test['weekday'] = test['order_purchase_timestamp'].dt.weekday
# set to 0 to fill column
test['sales_volume'] = 0
# 0 = Monday, 6 = Sunday
test['isBlackFriday'] = np.where((test['order_purchase_timestamp']=='2017-11-24') | (test['order_purchase_timestamp'] == '2018-11-27'), 1, 0)
test['isWeekend'] = np.where((test['weekday']== 5) | (test['weekday'] == 6), 1, 0)


# concatonate data2 and test
dat = pd.concat([data, test])

In [15]:
# dat.iloc[:481] is the cut off for our training set in the validation process
dat.iloc[481:573]

,order_purchase_timestamp,sales_volume,year,month,weekday,isBlackFriday,isWeekend
481,2018-05-01,304,2018,5,1,0,0
482,2018-05-02,405,2018,5,2,0,0
483,2018-05-03,436,2018,5,3,0,0
484,2018-05-04,372,2018,5,4,0,0
485,2018-05-05,250,2018,5,5,0,1
...,...,...,...,...,...,...,...
568,2018-07-27,253,2018,7,4,0,0
569,2018-07-28,270,2018,7,5,0,1
570,2018-07-29,247,2018,7,6,0,1
571,2018-07-30,350,2018,7,0,0,0
572,2018-07-31,478,2018,7,1,0,0

In [9]:
# FOR VALIDATION
# predicting sales (total_price)
y, x = pt.dmatrices("sales_volume ~ C(year) + C(month) + C(weekday) + isWeekend + isBlackFriday", data = dat.iloc[:481], return_type='dataframe')

In [10]:
# Specify regression
reg = sm.OLS(endog=y, exog=x) 


# Fit regression with robust standard errors
fit = reg.fit().get_robustcov_results(cov_type='cluster', groups=dat.iloc[:481, dat.columns.get_loc('order_purchase_timestamp')])

# Print results
print(fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           sales_volume   R-squared:                       0.788
Model:                            OLS   Adj. R-squared:                  0.780
Method:                 Least Squares   F-statistic:                 3.259e+04
Date:                Fri, 16 Oct 2020   Prob (F-statistic):               0.00
Time:                        15:44:04   Log-Likelihood:                -2652.5
No. Observations:                 481   AIC:                             5345.
Df Residuals:                     461   BIC:                             5429.
Df Model:                          19
Covariance Type:              cluster
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          95.4807     12.407      7.696      0.000      71.102     119.859
C(year)[T.2018]   234.6960      6.889     34.067      0.000     221.159     248.233
C(month)[T.2]      26.5671     11.493      2.312      0.021       3.984      49.150
C(month)[T.3]      34.1950      9.623      3.553      0.000      15.287      53.103
C(month)[T.4]      33.4949     10.039      3.336      0.001      13.768      53.222
C(month)[T.5]      88.0040      9.823      8.959      0.000      68.702     107.306
C(month)[T.6]      72.1351     10.156      7.103      0.000      52.180      92.091
C(month)[T.7]     113.9352     12.124      9.398      0.000      90.113     137.757
C(month)[T.8]     125.4281     11.390     11.012      0.000     103.047     147.809
C(month)[T.9]     129.2760     10.438     12.385      0.000     108.766     149.786
C(month)[T.10]    148.1585     11.539     12.840      0.000     125.485     170.832
C(month)[T.11]    243.4205     28.165      8.643      0.000     188.079     298.762
C(month)[T.12]    176.0561     17.706      9.943      0.000     141.265     210.847
C(weekday)[T.1]     1.7085     11.164      0.153      0.878     -20.229      23.646
C(weekday)[T.2]   -13.1512     10.916     -1.205      0.229     -34.600       8.297
C(weekday)[T.3]   -15.1462     11.388     -1.330      0.184     -37.523       7.231
C(weekday)[T.4]   -44.7451      9.523     -4.699      0.000     -63.457     -26.033
C(weekday)[T.5]   -32.2680      6.702     -4.815      0.000     -45.437     -19.099
C(weekday)[T.6]   -16.8359      6.319     -2.664      0.008     -29.252      -4.419
isWeekend         -49.1040      6.638     -7.397      0.000     -62.147     -36.060
isBlackFriday    1365.8439     26.440     51.658      0.000    1313.892    1417.796
==============================================================================
Omnibus:                      234.798   Durbin-Watson:                   1.017
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2614.938
Skew:                           1.830   Prob(JB):                         0.00
Kurtosis:                      13.820   Cond. No.                     2.89e+15
==============================================================================

Warnings:
[1] Standard Errors are robust to cluster correlation (cluster)
[2] The smallest eigenvalue is 7.95e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/opt/conda/lib/python3.7/site-packages/statsmodels/base/model.py:1752: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 20, but rank is 19
  'rank is %d' % (J, J_), ValueWarning)

In [16]:
# VALIDATE
# here the data is the validation data - dat.iloc[481:573] from May-July 2018

# Store predictions and truth
xPred = pt.build_design_matrices([x.design_info], data.iloc[481:573])

pred = fit.predict(xPred).squeeze()
truth = data.iloc[481:573, 1]

# sales errors
errors = pred - truth

# Calculate Absolute Percentage Error
pce = np.abs(errors/truth)*100


# Print MSE, Mean Absolute Error, 
#   and Mean Abs Percentage Error
print("Mean Squared Error: %s" % 
	str(np.mean(errors**2)))
print("Mean Absolute Error: %s" % 
	str(np.mean(np.abs(errors))))
print("Mean Absolute Percentage Error: %s" 
	% str(np.mean(pce)))
## by what percentage of the actual value were we incorrect (56.% is pretty bad)
## may be because of variables included or omitted, or just difficult to predict

Mean Squared Error: 18563.000878016566
Mean Absolute Error: 115.46235258966634
Mean Absolute Percentage Error: 54.22020079581476